<header class="container max-w-7xl mx-auto border-b border-amber-500/10">
  <div class="flex justify-between items-center py-4">
    <a href="/" class="text-2xl font-serif font-semibold text-amber-950"
      >Trieve</a
    >
    <nav>
      <a href="/platform" class="mr-4">Platform</a>
      <a
        href="https://docs.astro.build"
        class="mr-4"
        target="_blank"
        rel="noopener noreferrer">Docs</a
      >
      <a href="/pricing" class="mr-4">Pricing</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>
</header>
