---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";

type HomepageContent = {
  data: {
    documentId: string;
    pageContent: Array<{
      __component: string;
      id: string;
      title: string;
      subtitle: string;
    }>;
  };
};

import strapi from "../lib/strapi";
const homepage = await strapi.single("homepage").find({
  populate: "*",
});

// Access hero content
const hero = (homepage as unknown as HomepageContent)?.data?.pageContent[0];
---

<Layout>
  <div class="container max-w-7xl mx-auto relative z-10">
    <Hero title={hero.title} subtitle={hero.subtitle} />
  </div>
</Layout>
