---
import PageContent from "../components/PageContent.astro";
import Layout from "../layouts/Layout.astro";
import strapi from "../lib/strapi";

type HomepageContent = {
  data: {
    documentId: string;
    pageContent: Array<any>;
  };
};

const homepage = (await strapi.single("homepage").find({
  populate: {
    pageContent: {
      populate: "*",
    },
  },
})) as unknown as HomepageContent;
---

<Layout>
  <div class="container max-w-7xl mx-auto relative z-10">
    <PageContent content={homepage?.data?.pageContent} />
  </div>
</Layout>
