---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container max-w-7xl mx-auto">
    <div class="py-16">
      <h1 class="text-6xl tracking-tighter text-balance">
        Conversational discovery for any e-commerce experiences
      </h1>
      <p class="text-xl font-normal my-4">
        Discovery isn't just search and recommendations. Consumers coming from
        Google, Bing, and Perplexity all expect GenAI.
      </p>
    </div>
  </div>
</Layout>
