---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container max-w-7xl mx-auto">
    <div class="py-16">
      <h1 class="text-6xl tracking-tighter text-balance">Pricing</h1>
      <p class="text-xl font-normal my-4">
        Unlimited search requests + full AI, merchandising studio & analytics
        tools included on all plans. No credit card required.
      </p>
    </div>
  </div>
</Layout>
