---
import SectionHeader from "./shared/SectionHeader.astro";

interface Props {
  header: {
    title: string;
    tagline: string;
    leadText: string;
  };
  items: ReadonlyArray<{
    icon: string;
    title: string;
    description: string;
  }>;
}

const { header, items = [] } = Astro.props;
---

<section class="my-16 bg-white/75 py-16">
  <div class="container max-w-7xl mx-auto">
    <SectionHeader {...header} />
    <div class="grid grid-cols-2 gap-8 mt-8">
      {
        items.map((item) => (
          <div class="space-y-4 p-8 bg-white/25 rounded-2xl hover:bg-white/50 transition-colors">
            <h3 class="text-lg font-semibold">{item.title}</h3>
            <p class="text-gray-500">{item.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
