<div class="py-32 text-center">
  <h1 class="text-6xl font-serif tracking-tighter text-balance">
    AI search infrastructure for the modern world
  </h1>
  <p class="text-2xl font-light my-4 text-balance">
    We help companies build unfair competitive advantages through their
    discovery experiences.
  </p>
  <div class="my-16">
    <a
      href="/platform"
      class="text-white p-4 px-6 rounded-full shadow-md bg-purple-700 border-purple-700 border-2"
      >Get started for free →</a
    >
    <a
      href="/demo"
      class="bg-white text-purple-700 p-4 px-6 rounded-full border-purple-700 border-2 ml-4"
      >Book a demo</a
    >
  </div>
</div>
