---
import FeaturesSection from "./FeaturesSection.astro";
import ImageAndTextSection from "./ImageAndTextSection.astro";

interface Props {
  content: ReadonlyArray<{
    discriminant: string;
    value: any;
  }>;
}

const { content = [] } = Astro.props;
---

<div id="page-content">
  {
    content.map((item) => {
      switch (item.discriminant) {
        case "featuresBlock":
          return <FeaturesSection {...item.value} />;
        case "imageAndTextBlock":
          return <ImageAndTextSection {...item.value} />;
        default:
          return <>Unknown component: {item.discriminant}</>;
      }
    })
  }
</div>
