---
import BrandsSection from "./BrandsSection.astro";
import FeaturesSection from "./FeaturesSection.astro";
import ImageAndTextSection from "./ImageAndTextSection.astro";

interface Props {
  content: ReadonlyArray<{
    discriminant: string;
    value: any;
  }>;
}

const { content = [] } = Astro.props;
---

<div id="page-content">
  {
    content.map((item) => {
      switch (item.discriminant) {
        case "featuresBlock":
          return <FeaturesSection {...item.value} />;
        case "imageAndTextBlock":
          return <ImageAndTextSection {...item.value} />;
        case "brandsBlock":
          return <BrandsSection {...item.value} />;
        default:
          return (
            <div class="p-4 text-center">
              Unknown component: {item.discriminant}
            </div>
          );
      }
    })
  }
</div>
