---
import ContentImageSection from "./ContentImageSection.astro";

interface Props {
  content: Array<
    {
      __component: string;
    } & any
  >;
}

const { content = [] } = Astro.props;
---

<div class="container max-w-7xl mx-auto relative z-10">
  {
    content.map((item) => {
      switch (item.__component) {
        case "sections.content-image-groups":
          return <ContentImageSection {...item} />;
        default:
          return <>Unknown component: {item.__component}</>;
      }
    })
  }
</div>
